.list_page_wrapper {
    height: 100vh;
    background-color: black;
    background-image: url('test-background.png');
    background-attachment: fixed;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

/* TODO: fix height relative to window (ca. 90% or so) */
.list_view_wrapper {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    border: 1px solid rgb(32, 32, 32);
    padding: 15px;
    backdrop-filter: blur(10px);
    margin-bottom: 30px;
}

.list_flexbox {
    background-image: url('test-background.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* TODO: drop shadow/choose color wisely */
.location_coords {
    color: white;
    text-shadow: 2px 2px 6px #444444;
}

.submit_button {
    color: white;
    background-color: black;
    font-size: 18px;
    padding: 10px 24px;
    border-radius: 12px;
    transition-duration: 0.3s;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2), 0 10px 40px 0 rgba(0,0,0,0.10);
    width: 150px;
}

.submit_button:hover {
    border: 2px solid black;
    color: black;
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.34), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.input_field {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 10px;
}