.list_page_wrapper {
    height: '100vh';
    background-color: black;
    background-image: url('test-background.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.list_view_wrapper {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    border: 1px solid rgb(32, 32, 32);
    padding: 15px;
    backdrop-filter: blur(10px);
}

/* TODO: drop shadow/choose color wisely */
.location_coords {
    color: white;
}